/* Font */
$font-primary:
  "Segoe UI",
  system-ui,
  -apple-system,
  sans-serif;
/* Font weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Font sizes */
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px (base)
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.875rem; // 30px
$font-size-4xl: 2.25rem; // 36px
$font-size-5xl: 3rem; // 48px

/* Backgrounds */
$bg-main: #BDBBB0; // Fond principal
$bg-secondary: #8A897C; // Sections secondaires
$bg-nav: #353535; // Nav

/* Typography */
$text-title: #ffffff; // Titres
$text-body: #D2D7DF; // Texte courant

$cta: #C5DAFC;