@use "../abstracts" as *;

body {
  background-color: $bg-main;
}

.nav {
  display: flex;
  padding: 0 10rem 0 10rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: $bg-nav;
  width: 100%;
  height: 3rem;

  a {
    color: $text-body;
    text-decoration: none;
  }

  &__logo {
    font-size: $font-size-xl;
    span {
      color: $cta;
    }
  }

  ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: $font-size-xs;

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.hero {
  background: center url("../../img/hero_chaussures.png");
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36%;
  &__wrapper {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: 4.5rem;
      color: $cta;
      order: 2;
      line-height: 4rem;
      font-weight: 900;
      letter-spacing: -2px;

      span {
        color: $text-body;
      }
    }
    &__badge {
      padding: 0.5rem 0rem 0.5rem 0rem;
      text-align: center;
      max-width: 12rem;
      border: 0.1rem solid $text-body;
      border-radius: 0.3rem;
      font-size: 10px;
      color: $text-body;
      order: 1;
    }

    &__text {
      font-size: $font-size-sm;
      order: 3;
      color: $text-body;
    }

    &__btn {
      display: flex;
      gap: 1rem;
      order: 4;
      &__1 {
        gap: 0.3rem;
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        display: flex;
        font-size: $font-size-xs;
        align-items: center;
        background-color: $bg-nav;
        border: none;
        border-radius: 0.3rem;
        color: $cta;
        svg {
          width: 1rem;
          height: 1rem;
          color: $cta;
        }
      }
      &__2 {
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        color: $cta;
        font-size: $font-size-xs;
        border: 0.1rem solid;
        border-radius: 0.3rem;
        background: none;
      }
    }
  }
  &__defiler {
    color: $text-body;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-xs;
    gap: 0.6rem;
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.marques {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-secondary;
  border-bottom: 0.1rem solid $bg-nav;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__marque {
      font-size: $font-size-lg;
      font-weight: 900;
      color: $text-body;
    }

    &__point {
      display: flex;
      color: $cta;
    }
  }
}

.categorie {
  display: flex;
  justify-content: space-around;
}

.carte_infos {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: right;
  border: 3px;
  border-color: black;
}

.carte {
  width: 22rem;
  height: 18rem;
  border: solid 2px;
  background-color: #a4a397;
  border-color: #bdbbb0;
  border-radius: 15px;
}

.Titre_section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: lighter;
}

.Sous-section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.icone_infos {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid;
  border-color: black;
  border-radius: 15px;
}

.texte_infos {
  width: 16.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.temoignages {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  border: 3px;
  border-color: black;
}

.carte {
  width: 22rem;
  height: 18rem;
  border: solid 2px;
  background-color: #a4a397;
  border-color: #bdbbb0;
  border-radius: 15px;
}

.Titre_témoignage {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: lighter;
}

.Sous-titre_témoignage {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.photo_profil {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.textes_personnes {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 2rem 1rem;
}

.avis {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.star {
  display: flex;
  flex-direction: row;
  width: 1rem;
  height: 1rem;
}

.stars {
  margin-top: 3rem;
  margin-left: 2rem;
  display: flex;
}

.personne {
  display: flex;
  align-items: center;
  margin: 0 2rem 2rem 2rem;
}

.Nom_client {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.Sous-titre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
