@use "../abstracts" as *;

.nav {
  display: flex;
  padding: 0 10rem 0 10rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: $bg-nav;
  width: 100%;
  height: 3rem;

  a {
    color: $text-body;
    text-decoration: none;
  }

  &__logo {
    font-size: $font-size-xl;
    span {
      color: $cta;
    }
  }

  ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: $font-size-xs;

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.hero {
  background: center url("../../img/hero_chaussures.png");
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: 4.5rem;
      color: $cta;
      order: 2;
      line-height: 4rem;
      font-weight: 900;
      letter-spacing: -2px;

      span {
        color: $text-body;
      }
    }
    &__badge {
      padding: 0.5rem 0rem 0.5rem 0rem;
      text-align: center;
      max-width: 12rem;
      border: 0.1rem solid $text-body;
      border-radius: 0.3rem;
      font-size: 10px;
      color: $text-body;
      order: 1;
    }

    &__text {
      font-size: $font-size-sm;
      order: 3;
      color: $text-body;
    }

    &__btn {
      display: flex;
      gap: 1rem;
      order: 4;
      &__1 {
        gap: 0.3rem;
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        display: flex;
        font-size: $font-size-xs;
        align-items: center;
        background-color: $bg-nav;
        border: none;
        border-radius: 0.3rem;
        color: $cta;
        svg {
          width: 1rem;
          height: 1rem;
          color: $cta;
        }
      }
      &__2 {
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        color: $cta;
        font-size: $font-size-xs;
        border: 0.1rem solid;
        border-radius: 0.3rem;
        background: none;
      }
    }
  }
}
